@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    margin: 0;
    font-family: 'Abril Fatface', -apple-system, BlinkMacSystemFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}